/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width: 100%; height: 100%; }
body                            { padding: 0; margin: 0; font-size: 100%; font-family: 'afta_sansregular', Tahoma; background: #fff; color: #4d4d4d; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,summary,input,textarea {
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
}
select, input, textarea        { font-size: 100%; vertical-align: middle; }
textarea                       { vertical-align: top; }
:focus                         { outline: none; }
input[type=submit]             { cursor: pointer; }
img, fieldset                  { border: 0; }
table                          { border-collapse: collapse; border-spacing: 0; }
a:link, a:visited              { font: 100% Tahoma, sans-serif; color: #000; text-decoration: none; }
a:hover                        { text-decoration: none; }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------FONTS---------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'afta_sansregular';
    src: url('../fonts/aftasansthin.woff2') format('woff2'),
         url('../fonts/aftasansthin.woff') format('woff'),
				 url('../fonts/aftasansthin.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------GENERAL STYLES----------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
header {
	position: absolute;
	z-index: 10;
	width: 96%;
	height: 68vh;
	padding: 15px 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .menu-switch {
  display: none;
}
header .menu-switch:checked ~ .btn-menu {
  right: 245px;
}
header .menu-switch:checked ~ nav {
  right: 0;
}
header .menu-switch:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 8px;
}
header .menu-switch:checked ~ .btn-menu span.second {
  opacity: 0;
}
header .menu-switch:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -8px;
}
header .btn-menu {
  color: #fff;
  background-color: rgba(188, 201, 24, 0.7);
  padding: 15px 12px;
  position: fixed;
  top: 15px;
  right: 2%;
  cursor: pointer;
  transition: right 0.23s;
  z-index: 3;
  width: 26px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
	-webkit-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.75);
}
header .btn-menu:hover {
	background-color: rgba(188, 201, 24, 1);
}
header .btn-menu span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 5px 0 0 0;
  transition: all 0.1s linear 0.1s;
  position: relative;
}
header .btn-menu span.first {
  margin-top: 0;
}
header nav {
  display: block;
  position: fixed;
  padding: 6em 25px;
  box-sizing: border-box;
  width: 320px;
  background-color: #42464b;
  height: 100%;
  top: 0;
  right: -330px;
	-webkit-box-shadow: 1px -1px 12px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px -1px 12px 2px rgba(0,0,0,0.75);
	box-shadow: 1px -1px 12px 2px rgba(0,0,0,0.75);
  transition: right 0.2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
header nav .nav-menu {
	border-top: #bcc918 1px solid;
}
header nav .nav-menu li {
	padding: 8px 0;
}
header nav .nav-menu li a {
	text-transform: uppercase;
	color: #999;
	-webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header nav .nav-menu li a:hover {
	color: #fff;
}
header h1 {
	font-size: 5em;
	color: rgb(207, 214, 124);
	text-align: center;
  text-shadow: 4px 3px 0px rgba(0, 0, 0, 1);
	text-transform: capitalize;
	border-top: rgb(207, 214, 124) 2px solid;
	border-bottom: rgb(207, 214, 124) 2px solid;
}
@media screen and (max-width: 768px) {
	header .btn-menu {
		background-color: rgba(188, 201, 24, 1);
	}
	header h1 {
		font-size: 3.5em;
	}
}
@media screen and (max-width: 460px) {
	header h1 {
		font-size: 2.2em;
	}
}
/*----------------------------------------------------------------------------------*/
/*------------------------------Background-Slider-----------------------------------*/
/*----------------------------------------------------------------------------------*/
.bg-slider .header-slider li div {
	height: 86vh;
	width: 100%;
}
.bg-slider .header-slider li div.slide01 {
	background: url('../images/slide01.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.bg-slider .header-slider li div.slide02 {
	background: url('../images/slide02.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.bg-slider .header-slider li div.slide03 {
	background: url('../images/slide03.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.bg-slider .slick-dotted.slick-slider { /*here changed one of default styles of slick-slider*/
	margin: 0;
}
.bg-slider .header-slider .slick-dots {
	bottom: 6%;
	background: rgba(255,255,255,0.4);
	padding: 0 0 4px 0;
}
.slick-dots li {
	margin: 0 16px;
}
.slick-dots li button:before {
	font-size: 16px;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------CONTENT---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content section {
	padding: 55px 0;
}
.content h2 {
	color: #4d4d4d;
	text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}
/*-----------------------------------About-block------------------------------------*/
.content .about-block .about-list li {
	margin: 0 auto 4em;
	width: 70%;
	overflow: hidden;
}
.content .about-block .about-list li p {
	padding: 0 0 0 90px;
	width: 40%;
	font-size: 1.25em;
	text-align: justify;
	line-height: 1.7;
}
.content .about-block .about-list li p.number01 {
	background: url('../images/01-icon.png') left top no-repeat;
}
.content .about-block .about-list li p.number02 {
	background: url('../images/02-icon.png') left top no-repeat;
}
.content .about-block .about-list li p.number03 {
	background: url('../images/03-icon.png') left top no-repeat;
}
.content .about-block .about-list li p.number04 {
	background: url('../images/04-icon.png') left top no-repeat;
}
.content .about-block .about-list li p.number05 {
	background: url('../images/05-icon.png') left top no-repeat;
}
.content .about-block .about-list li img {
	width: 96%;
	max-width: 400px;
}
.content .about-block .about-list li:nth-child(odd) p {
	float: left;
}
.content .about-block .about-list li:nth-child(even) p {
	float: right;
}
.content .about-block .about-list li:nth-child(odd) img {
	float: right;
	margin: 0 0 0 4%;
}
.content .about-block .about-list li:nth-child(even) img {
	float: left;
	margin: 0 4% 0 0;
}
/*--------------------------------Quote-block---------------------------------------*/
.content .quote-block {
	background: url('../images/quote-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.content .quote-block blockquote {
	font-size: 3.75em;
	color: #ffffff;
	text-align: center;
}
/*----------------------------Our-team-block---------------------------------------*/
.content .team-block .team-list {
  display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}
.content .team-block .team-list > li {
	text-align: center;
  max-width: 240px;
  margin: 0 2%;
}
.content .team-block .team-list li .holder {
	position: relative;
  overflow: hidden;
	border-radius: 100%;
	line-height: 0;
	border: #bcc918 3px solid;
}
.content .team-block .team-list li .holder img {
	width: 100%;
}
.content .team-block .team-list li .holder .social-list {
	visibility: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(188, 201, 24, 0.7);
	padding: 10%;
}
.content .team-block .team-list li .holder .social-list li a {
	display: block;
	background: url('../images/social-sprite.png') no-repeat;
	width: 40px;
	height: 40px;
}
.content .team-block .team-list li .holder .social-list li.linkedin-link a {
	background-position: 0px 0px;
}
.content .team-block .team-list li .holder .social-list li.facebook-link a {
	background-position: -40px 0px;
}
.content .team-block .team-list li .holder .social-list li.instagram-link a {
	background-position: -80px 0px;
}
.content .team-block .team-list li .holder:hover {
	border: none;
}
.content .team-block .team-list li .holder:hover .social-list {
  visibility: visible;
}
.content .team-block .team-list li .position {
	display: block;
	font-size: 1.2em;
	width: 90%;
  margin: 1em auto 0;
}
/*--------------------------------Statistic-block-----------------------------------*/
.content .statistic-block {
	background: #373c98;
}
.content .statistic-block h2 {
	color: #ffffff;
}
.content .statistic-block .statistic-list {
	display: flex;
	justify-content: center;
}
.content .statistic-block .statistic-list li {
	text-align: center;
	margin: 0 20px;
}
.content .statistic-block .statistic-list li span {
	color: #ffffff;
}
.content .statistic-block .statistic-list li .num-icon {
	font-size: 3em;
}
.content .statistic-block .statistic-list li .num-text {
	font-size: 1.5em;
}
/*----------------------------Subscribe-block---------------------------------------*/
.content .subscribe-block {
	background: #3e7e88;
}
.content .subscribe-block form {
	text-align: center;
}
.content .subscribe-block form input {
	height: 42px;
	padding: 0 12px;
	margin: 0 4px;
	border: none;
	width: 23%;
}
.content .subscribe-block form input:focus {
	-webkit-box-shadow: inset 0px 0px 11px 0px rgba(62,126,136,1);
	-moz-box-shadow: inset 0px 0px 11px 0px rgba(62,126,136,1);
	box-shadow: inset 0px 0px 11px 0px rgba(62,126,136,1);
}
.content .subscribe-block form input[type=button] {
	background: none;
	color: #ffffff;
	text-transform: uppercase;
	border: #ffffff 2px solid;
}
.content .subscribe-block form input[type=button]:hover {
	border: #ffffff 4px solid;
	cursor: pointer;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer {
	padding: 60px 0;
}
footer .footer-menu {
	display: flex;
	justify-content: center;
}
footer .footer-menu li {
	padding: 0 10px;
}
footer .footer-menu li a {
	text-transform: uppercase;
	color: #4d4d4d;
}
footer hr {
	width: 100px;
	margin: 35px auto 10px;
	border: none;
	height: 1px;
	background: #3e7e88;
}
footer .site-name {
	display: block;
	text-align: center;
	font-size: 0.75em;
}
